---
layout: archive
---
{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}

<!-- Publication Section -->
<section id="publication" class="custom-section">
  <h2>Publications</h2>
  <ul>
    <li>
      <strong>Relational Self-supervised Distillation with Compact Descriptors for Image Copy Detection</strong>  
      <p>Juntae Kim, Sungwon Woo, Jongho Nang, WACV, 2025</p>
    </li>
    <!-- Add more publications as needed -->
  </ul>
</section>

<div class="education-section">
  <h2>Education</h2>
  <ul>
    <li>
      <strong>M.S. in Department of Artificial Intelligence</strong>, Sogang University, Mar. 2023 - Present
      <ul>
        <li>Advisor: <a href="#">Jongho Nang</a></li>
      </ul>
    </li>
    <li>
      <strong>B.S. in Department of Computer Science and Engineering</strong>, Sogang University, Mar. 2017 - Feb. 2023
    </li>
  </ul>
</div>

<div class="experience-section">
  <h2>Experiences</h2>
  <ul>
    <li>
      <strong>Visiting Student at Carnegie Mellon University</strong>, <a href="#">IITP AI Intensive Education Program</a>, Aug. 2024 - Feb. 2025
    </li>
  </ul>
</div>